<nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#">BEST TUNISIA TRAVEL </a>
  >
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  [routerLink]="['/home']">home</a>
        </li>
      
        <li class="nav-item">
          <a *ngIf="Admin()" class="nav-link" [routerLink]="['/ajout']">ajouter</a>
          <a *ngIf="!Admin()" class="nav-link" [routerLink]="['/liste']">listVoayge</a>
        </li>
        <li class="nav-item">
            <button *ngIf="!Admin()" (click)="OnLog()" class="btn btn-outline-light">connexion</button>
            <button *ngIf="Admin()" (click)="OnLog()" class="btn btn-outline-light">déconnexion</button>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/aboutUs']">A propos de nous </a>
        </li>

       
      </ul>
      
      
    </div>
  </nav>
