<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ng-container *ngFor="let v of voyages">
	<ng-container *ngIf="v.id === identifiant">

<div id="container">	
	
	<div class="product-details">
		
	<h1>{{v.data.libelle}}</h1>
	
		
			<p class="information">{{v.data.description}}</p>

		
		
<div class="control">
	
	<button class="btn">
	 <span *ngIf="!v.data.promotion" class="price">{{v.data.prix|number:'3.2'}} DT</span>
	 <span *ngIf="v.data.promotion">  {{v.data.prix-500 |number:'3.2'}} DT </span>
   <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
    <span>saisir votre mail <input type="text" name="txt"/> </span>
   <span class="buy" >réserver</span>
 </button>
	
</div>
			
</div>
	
<div class="product-image">
	
	<img [src]="v.data.image" alt="">
	

<div class="info">
	<h2> Description</h2>
	<ul>
		<li><strong>date d'allée  : </strong>{{v.data.dateAllee}}</li>
		<li><strong>Nombre de jours: </strong>{{v.data.nbJours}}</li>
		<li *ngIf="v.data.promotion"><strong> en promotion :</strong> {{v.data.prix-500 |number:'3.2'}} DT au lieu de  {{v.data.prix|number:'3.2'}} DT</li>

		
	</ul>
</div>
</div>

</div>
</ng-container>
</ng-container>
