<form>
  <input type="text" class="form-control"  #rech >
  <input type="button" value="Rechercher" class="btn btn-warning" >
</form>

<main class="page-content">
  <div *ngFor="let item of voyages" class="card">
    <div class="content">
      <h2 class="title">{{item.data.libelle}}</h2>
      <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the
        mountains</p>
        <img class=".card:nth-child(1):before" [src]="item.photo"/>
      <button class="btn" [routerLink]="['/modifier',item.id]">modifier</button>
      <button class="btn" (click)="delete(item)">supprimer</button>
    </div>
  </div>

</main>

