  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #rech >
      <button class="btn btn-outline-success" type="submit" (click)="Oncherche(rech.value)">Search</button>
    </form>
  </div>
  


<main class="page-content">
  <div *ngFor="let item of voyages; index as i" class="card" [style.background-image]="'url( '+item.data.image+')'" >
    <div class="content" >
    <div 
     >
      <h2 class="title">{{item.data.libelle}}</h2>
      <p class="copy">{{item.data.prix}}</p>
      
      <button class="btn" [routerLink]="['/modifier',item.id]">modifier</button>
      <button class="btn" (click)="delete(item)">supprimer</button>
    </div>
  </div>
  </div>

</main>

