<div class="container">
    <h2> Ajout d'un produit touristique</h2>
    <form [formGroup]="VoyForm" (ngSubmit)="onSubmitForm()">
        <div>
            <label> Donnez le libellé</label>
            <input type="text" class="form-control" formControlName="libelle">
           
        </div>

        <div>
            <label> Donnez le prix</label>
            <input type="text" class="form-control" formControlName="prix">
        </div>

        <div>
            <label> Donnez une description</label>
            <textarea type="text" class="form-control" formControlName="description"> </textarea>
                    
        </div>
        <div>
            <label> Donnez date d'allée </label>
            <input type="date" class="form-control" formControlName="dateAllee">
                    
        </div>
        <div>
            <label> Donnez nombre de joures </label>
            <input type="number" class="form-control" formControlName="nbJours">
                    
        </div>
        <div>
            <label> Donnez le chemin de l'image</label>
            <input type="text" class="form-control" formControlName="image">
            
        </div>
        <div>
         
            <input type="checkbox" formControlName="promotion" value="false"> en promotion
        </div>
        <button type="submit" class="btn btn-outline-info" >submit</button>
      
    </form>
</div>
<br>
<table class="table table-striped center table-primary table-bordered" >
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Libelle</th>
        <th scope="col">Date d'aller</th>
        <th scope="col">Description</th>
        <th scope="col">Nombre jour</th>
  
        <th scope="col">prix</th>
        <th scope="col">photo</th>
        <th scope="col">promo</th>
  
      </tr>
    </thead>
    <tbody>
  
     <tr *ngFor="let item of voyages">
        <td>{{item.id}}</td>
        <td>{{item.data.libelle}}</td>
        <td>{{item.data.dateAllee|date}}</td>
        <td>{{item.data.description}}</td>
        <td>{{item.data.nbJours}}</td>
        <td>{{item.data.prix}}</td>
        <td><img [src]="item.data.image" style="width:50px;height:50px"></td>
        <td><input type="checkbox" [checked]="item.data.promotion"/> </td>
      
      </tr>
  </table>

