
  
    
    <div class="about-section">
      <h1>A propos de nous </h1>
      <p> Best Travel Tunisia</p>
      <p>est une agence de voyage qui organise des voyages à l'étranger</p>
    </div>
    
    <h2 style="text-align:center">Notre groupe </h2>
    <div class="row" class="d-flex justify-content-center">

    
      <div class="column">
        <div class="card">
          <img src="../assets/images/cyrine.jpg" alt="cyrine" style="width:100%">
          <div class="container">
            <h2>Cyrine Srairi </h2>
          
            <p class="title">le proprietere</p>
            <p> Dévloppeuse Web </p>
            <p>sirine.srairi10@gmail.com</p>

            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      
      
    </div>
   
    
